@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

$main-bg: rgb(39, 41, 85);
$grid-blue: rgb(96, 100, 185); // grid bg, text
$white: rgb(255, 255, 255);
$orange: rgb(253, 176, 146);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  color: $orange;
}

body {
  background-color: $main-bg;
  font-family: 'Rubik', sans-serif;
}

header, footer {
  text-align: center;
  color: $grid-blue;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .puzzle {
    min-width: 430px;
  }

  #app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      " title  puzzle "
      " form   puzzle "
      " footer puzzle ";
    align-items: center;
    padding-top: 2em;
  }

  header {
    grid-area: title;
  }

  form {
    grid-area: form;
  }

  footer {
    grid-area: footer;
  }

  .puzzle {
    grid-area: puzzle;
  }
}

footer {
  margin: 1em 0;
}

#app {
  max-width: 1000px;
  margin: 0 auto;
}
