$white: rgb(255, 255, 255);
$bg: rgb(96, 99, 185);
$grid-dark-blue: rgb(67, 69, 144);
$grid-dark-blue-shadow: rgb(51, 54, 124);

form {
  color: $white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  div {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    width: 100%;
  }
}

textarea, input[type="text"] {
  background-color: $bg;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 1em;
  color: inherit;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  background: $grid-dark-blue;
  box-shadow: 0 4px 0 $grid-dark-blue-shadow;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: inherit;
  display: block;
  width: 100%;
  padding: .5em 0;
}
